CREATE DATABASE [QL_KhachSan]
GO
USE [QL_KhachSan]
GO
/****** Object:  Table [dbo].[BienThePhong]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienThePhong](
	[MaBienThe] [int] IDENTITY(1,1) NOT NULL,
	[BienThe] [nvarchar](20) NULL,
	[MaLoai] [int] NULL,
	[MoTa] [nvarchar](300) NULL,
	[GiaBan] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LoaiPhong_1] PRIMARY KEY CLUSTERED 
(
	[MaBienThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[SoNgay] [int] NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](30) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaBienThe] [int] NOT NULL,
	[Stt] [int] NOT NULL,
	[HinhAnh] [nchar](50) NULL,
 CONSTRAINT [PK_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaBienThe] ASC,
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(12,1) NOT NULL,
	[MaKH] [int] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[NgayLap] [date] NULL,
	[TinhTrang] [bit] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](40) NULL,
	[Gmail] [nchar](40) NULL,
	[MatKhau] [nchar](40) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[TinhThanh] [nvarchar](30) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNV] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[MaCV] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](30) NULL,
	[TinhTrang] [nvarchar](15) NULL,
	[MaBienThe] [int] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNV]    Script Date: 15/12/2025 12:55:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNV](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[TaiKhoan] [nchar](30) NULL,
	[MatKhau] [nchar](30) NULL,
 CONSTRAINT [PK_TaiKhoanNV] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BienThePhong] ON 

INSERT [dbo].[BienThePhong] ([MaBienThe], [BienThe], [MaLoai], [MoTa], [GiaBan]) VALUES (1, N'Standard City View', 1, N'Giữ nguyên tiện nghi cơ bản của Standard Room nhưng có cửa sổ lớn hướng ra trung tâm thành phố. Không gian sáng sủa, thoáng mát, mang lại cảm giác thoải mái sau một ngày dài di chuyển.', CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[BienThePhong] ([MaBienThe], [BienThe], [MaLoai], [MoTa], [GiaBan]) VALUES (2, N'Standard Double', 1, N'Phòng 1 giường đôi lớn, diện tích khoảng 20–22m². Thiết kế ấm cúng, trang nhã, phù hợp cho các cặp đôi hoặc du khách cần sự thoải mái trong ngân sách tiết kiệm.', CAST(400000 AS Decimal(18, 0)))
INSERT [dbo].[BienThePhong] ([MaBienThe], [BienThe], [MaLoai], [MoTa], [GiaBan]) VALUES (3, N'Standard Single', 1, N'Phòng 1 giường đơn, diện tích khoảng 18m², bố trí đơn giản, yên tĩnh và sạch sẽ. Phù hợp cho khách đi công tác hoặc du lịch một mình. Không gian nhỏ gọn nhưng vẫn đảm bảo tiện nghi cơ bản như bàn làm việc, TV LCD và wifi tốc độ cao.', CAST(300000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[BienThePhong] OFF
GO
INSERT [dbo].[ChiTietHD] ([MaHD], [MaPhong], [NgayBD], [NgayKT], [SoNgay]) VALUES (0, 3, CAST(N'2025-12-04' AS Date), CAST(N'2025-12-05' AS Date), 1)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaPhong], [NgayBD], [NgayKT], [SoNgay]) VALUES (1, 6, CAST(N'2025-12-11' AS Date), CAST(N'2025-12-15' AS Date), 4)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaPhong], [NgayBD], [NgayKT], [SoNgay]) VALUES (2, 3, CAST(N'2025-12-11' AS Date), CAST(N'2025-12-14' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (1, N'Lễ tân')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (2, N'An ning')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES (3, N'Quản lý')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[HinhAnh] ([MaBienThe], [Stt], [HinhAnh]) VALUES (1, 1, N'StandardCityView_Main.jpg                         ')
INSERT [dbo].[HinhAnh] ([MaBienThe], [Stt], [HinhAnh]) VALUES (1, 2, N'StandardCityView_View1.jpg                        ')
INSERT [dbo].[HinhAnh] ([MaBienThe], [Stt], [HinhAnh]) VALUES (1, 3, N'StandardCityView_View2.jpg                        ')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [TongTien], [NgayLap], [TinhTrang], [MaNV]) VALUES (0, 11, CAST(400000 AS Decimal(18, 0)), CAST(N'2025-12-04' AS Date), 0, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [TongTien], [NgayLap], [TinhTrang], [MaNV]) VALUES (1, 5, CAST(1600000 AS Decimal(18, 0)), CAST(N'2025-12-10' AS Date), 1, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [TongTien], [NgayLap], [TinhTrang], [MaNV]) VALUES (2, 3, CAST(1200000 AS Decimal(18, 0)), CAST(N'2025-12-10' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Gmail], [MatKhau], [GioiTinh], [NgaySinh], [TinhThanh]) VALUES (1, N'Nguyễn Thị Mai', N'mai.nguyen@gmail.com                    ', N'mai12                                   ', N'Nữ', CAST(N'1991-04-12' AS Date), N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Gmail], [MatKhau], [GioiTinh], [NgaySinh], [TinhThanh]) VALUES (2, N'Phạm Văn Hùng', N'hung.pham@gmail.com                     ', N'hung456                                 ', N'Nam', CAST(N'1987-09-30' AS Date), N'Hải Phòng')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Gmail], [MatKhau], [GioiTinh], [NgaySinh], [TinhThanh]) VALUES (3, N'Lê Thị Thanh', N'thanh.le@gmail.com                      ', N'thanh789                                ', N'Nữ', CAST(N'1993-06-18' AS Date), N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai]) VALUES (1, N'Standard')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai]) VALUES (2, N'Superior')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai]) VALUES (3, N'Deluxe')
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinh], [NgaySinh], [MaCV]) VALUES (1, N'Nguyễn Văn An', N'Nam', CAST(N'1990-05-12' AS Date), 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinh], [NgaySinh], [MaCV]) VALUES (2, N'Lê Thị Hoa', N'Nữ', CAST(N'1992-08-25' AS Date), 4)
INSERT [dbo].[NhanVien] ([MaNV], [HoTenNV], [GioiTinh], [NgaySinh], [MaCV]) VALUES (3, N'Trần Minh Tuấn', N'Nam', CAST(N'1988-03-17' AS Date), 2)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [MaBienThe]) VALUES (1, N'Phòng 101', N'Đã đặt', 3)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [MaBienThe]) VALUES (2, N'Phòng 102', N'Đã đặt', 3)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [MaBienThe]) VALUES (3, N'Phòng 103', N'Trống', 3)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanNV] ON 

INSERT [dbo].[TaiKhoanNV] ([MaTK], [MaNV], [TaiKhoan], [MatKhau]) VALUES (1, 1, N'nguyenvana                    ', N'passAn123                     ')
INSERT [dbo].[TaiKhoanNV] ([MaTK], [MaNV], [TaiKhoan], [MatKhau]) VALUES (2, 4, N'phamquynhmai                  ', N'mai456                        ')
INSERT [dbo].[TaiKhoanNV] ([MaTK], [MaNV], [TaiKhoan], [MatKhau]) VALUES (3, 5, N'hoangthanh                    ', N'thanh123                      ')
SET IDENTITY_INSERT [dbo].[TaiKhoanNV] OFF
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[BienThePhong]  WITH CHECK ADD  CONSTRAINT [FK_BienThePhong_LoaiPhong] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
ALTER TABLE [dbo].[BienThePhong] CHECK CONSTRAINT [FK_BienThePhong_LoaiPhong]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_Phong]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_BienThePhong] FOREIGN KEY([MaBienThe])
REFERENCES [dbo].[BienThePhong] ([MaBienThe])
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK_HinhAnh_BienThePhong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_BienThePhong] FOREIGN KEY([MaBienThe])
REFERENCES [dbo].[BienThePhong] ([MaBienThe])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_BienThePhong]
GO
ALTER TABLE [dbo].[TaiKhoanNV]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanNV_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoanNV] CHECK CONSTRAINT [FK_TaiKhoanNV_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [CK_NgayHopLe] CHECK  (([NgayBD]<=[NgayKT]))
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [CK_NgayHopLe]
GO
USE [master]
GO
